/* .alcohol-container {
    position: relative;
    top: 0;
    bottom: 0;
    min-height: 100%;
    height: 1000px;
    width: 100%;
    background-color: white;
} */

html, body {
    height: 100%;
}

.alcohol-container {
    height: 100%;
}

.alcohol-filter {
    /* border-style: solid;
    border-color: black;
    border-width: 2px;
    border-right : 0;
    margin-top: -25px;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 25px; */

    font-size: 50px;

    background-color: white;
    color: black;
}

.alcohol-filter-selected {
    background-color: black;
    color: white;
}

.alcohol-row {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.chevron {
    font-size: 100px;
}

.chevron-right {
    float: right;
}

.cocktail-image {
    height: 200px;
    width: 200px;
}

.cocktail-name {
    height: 2rem;
}

.confirm-text {
    font-size: 50px;
}

.confirm-container {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.get-box {
    width: 50%;
    padding: 0;
    padding-top: 25px;
    border: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    color: black;
}

.dollar {
    font-family: "Verdana";
}

.hidden {
    visibility: hidden;
}

.image-alcohol {
    height: 200px;
    width: 200px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loading {
    font-size: 100px;
}

.tap-box {
    width: 50%;
    padding: 0;
    padding-top: 25px;
    border: 0;
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    color: black;
}

.link {
    display: block;
}

.link:hover {
    text-decoration: none;
}

/* .alcohol-link, .drink-link, .chevron-link{
    display: block;
}

.alcohol-link:hover, .drink-link:hover, .chevron-link:hover {
    text-decoration: none;
}

.alcohol-link-selected {
    color: white;
    display: block;
}

.alcohol-link-selected:hover {
    color: white;
    text-decoration: none;
} */

.wallet {
    width: 215px;
}

body {
    user-select: none;
    zoom: 0.6;
}
